<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Torneo: <%= @tournament.name %>
    </h1>
    <h3>
      Fecha: <%= @tournament.created_at.strftime('%D') %>
      <br>
      Creado por: <%= @tournament.user.email %>
      <% if @tournament.user.id == current_user.id && @tournament.finished == true %>
            <%= button_to 'Revivir torneo', "/tournament/#{params[:id]}/finished/false",class: "btn btn-danger", method: :post %>
        <% end %>
    </h3>

  </section>
<!-- Main content -->
  <section class="content container-fluid">
    <div class="row">
      <div class="col-md-2">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Jugadores</h3>
          </div>
        <!-- /.box-players -->
          <div class="box-body">
            <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
              <div class="row">
                <div class="col-sm-12">
                </div>
                <div class="col-sm-12">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                    <thead>
                      <tr role="row">
                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Nombre</th>
                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Victorias</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @players.each do |p| %>
                        <tr role="row" class="odd">
                          <td class=""><%= p.name %></td>
                          <td class="sorting_1"><%= Match.where(tournament_id: @tournament.id).where(winner_one: p.id).count + Match.where(tournament_id: @tournament.id).where(winner_two: p.id).count %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        <!-- /.box-players -->
      </div>
    </div>
    <div class="col-md-2">
    <% if @tournament.finished == true %>
      <div class="info-box">
        <span class="info-box-icon bg-green">1ยบ</span>

        <div class="info-box-content">
          <span class="info-box-title"><h4><%= @winner.first.nil? ? 'N/A' : @winner.first.name %></h4></span>
          <span class="info-box-number"><%= @winner.first.nil? ? '0' : @winner.first.wins %> victorias</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <div class="info-box">
        <span class="info-box-icon bg-green">2ยบ</span>

        <div class="info-box-content">
          <span class="info-box-title"><h4><%= @winner.second.nil? ? 'N/A' : @winner.second.name %></h4></span>
          <span class="info-box-number"><%= @winner.second.nil? ? '0' : @winner.second.wins %> victorias</span>
        </div>
        
        <!-- /.info-box-content -->
      </div>
      <div class="info-box">
        <span class="info-box-icon bg-green">3ยบ</span>

        <div class="info-box-content">
          <span class="info-box-title"><h4><%= @winner.third.nil? ? 'N/A' : @winner.third.name %></h4></span>
          <span class="info-box-number"><%= @winner.third.nil? ? '0' : @winner.third.wins %> victorias</span>
        </div>
        
        <!-- /.info-box-content -->
      </div>
    <% else %>
      <% if @tournament.user.id == current_user.id %>
        <% if @tournament.finished == false %>
            <%= button_to 'Terminar torneo', "/tournament/#{params[:id]}/finished/true",class: "btn btn-danger", method: :post %>
          <% else %>
            <%= button_to 'Terminar torneo', "/tournament/#{params[:id]}/finished/false",class: "btn btn-danger", method: :post %>
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>
      <!-- /.box-body -->
  <div class="row">
    <div class="col-md-4">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Partidos</h3>
        </div>
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>Partido</th>
                <th>Equipo 1</th>
                <th>Equipo 2</th>
                <th>Hora</th>
                <% if @tournament.user.id == current_user.id %>
                <th>
                </th>
                <% end %>
              </tr>
              <% @matches.each do |match| %>
                <tr>
                  <td><%= match.id %></td>
                  <% if ((match.winner_one.to_i == match.players.order("matches_players.id ASC").first.id) || (match.winner_two.to_i == match.players.order("matches_players.id ASC").first.id)) %>
                    <td>
                      <font color="green">
                        <%= match.players.order("matches_players.id ASC").first.name %> - <%= match.players.order("matches_players.id ASC").second.name %>
                      </font>
                    </td>
                    <td>
                      <font color="red">
                        <%= match.players.order("matches_players.id ASC").third.name %> - <%= match.players.order("matches_players.id ASC").fourth.name %>
                      </font>      
                    </td>
                  <% else ((match.winner_one.to_i == match.players.order("matches_players.id ASC").last.id.to_i) || (match.winner_two.to_i == match.players.order("matches_players.id ASC").last.id.to_i)) %>
                    <td>
                      <font color="red">
                        <%= match.players.order("matches_players.id ASC").first.name %> - <%= match.players.order("matches_players.id ASC").second.name %>
                      </font>     
                    </td>
                    <td>
                      <font color="green">
                        <%= match.players.order("matches_players.id ASC").third.name %> - <%= match.players.order("matches_players.id ASC").fourth.name %>
                      </font>    
                    </td>
                  <% end %>
                  <td>
                    <%= match.created_at.strftime('%H:%M') %>    
                  </td>
                  <% if @tournament.user.id == current_user.id %>
                  <td>
                   <a href="/match/<%= match.id %>" data-method="delete">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                   </a>
                  </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div><!-- /.box-body -->
      </div>
    </div>
  </div>
  </section>
</div>
